/* font-family: 'Amatic SC', cursive;
font-family: 'Roboto', sans-serif; */
/* https://stackoverflow.com/questions/55224589/document-createelementdiv-with-a-class/55224626 */
/* font-family: 'Roboto Slab', serif; */

body {
  margin: 0;
  padding: 0;
  background-image: url(images/AdobeStock_306903024.jpeg);
}




form {
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50vw;
  background: black;
  color: white;
  
  
}

header {
  margin: 0;
  padding: 20 0 0 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

nav {
  margin-bottom: 50px;
  color: black;
  font-variant: small-caps;
  background-size: 80vh;
  background: url(images/logo.png) left center no-repeat, url(images/logo.png) right center no-repeat white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  width: 100vw;
  position: top;
   
}


.card-meaning {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  width: 50vw;
  color: whitesmoke;
}

.card-name {
  border-style: solid;
  border-color: white;
  background: white;
  width: 50vw;
  text-align: center;
  font-family: 'Rye', cursive;
  font-size: 35px;
  padding: auto;
}

.greeting {
  margin-top: 20vh;
  height: 20vh;
  width: 50vw;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #b5b8c7;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
  background-size: contain;
  font-family: 'Roboto Slab', serif;
}

.picture {
  text-align: center;
  
}

#click {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  padding: 16px 32px;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 100px;
  text-transform: uppercase;
  
  
}

#click:hover {
  background-color: lightpink;
  color: white;
}

#destiny {
  margin: auto;
  padding-bottom: 100px;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  row-gap: 50px;
}

#headline {
  font-family: 'Amatic SC', cursive;
  font-size:40px;
}



#question {
  font-family: 'Roboto', sans-serif;
  border: solid 4px black;
  width: 49vw;
  padding: 12px 25px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  
  

}




@media screen and (max-width: 600px) {
  #question, #headline, form, .card-name, .greeting, #destiny, header, footer {
    width: 100%;
  }
  .card-meaning {
    font-size: 40px;
    width: 75vw;
  }
  nav {
    font-size: 20px;
    background-color: white;
    background-image: none;
   
  }
  form {
    border-style: none;
    height: 100vh;
  }

}

@media only screen and (max-width: 768px) {
  #question, #headline, form, .card-name, .greeting, #destiny, header, footer, nav {
    width: 100%;
  }
  nav {
    font-size: 80px;
    background-color: white;
    /* background-image: none; */
    background-image: url(images/logo.png) left center;
    background-size: 15vh;
    width: 100vw;
    
    
  }
  form {
    border-style: none;
    height: 100vh;
  }
  
  #question {
    font-size: 50px;
  }
  
  #headline {
    font-size: 50px;
  }
  
  #click {
    font-size: 50px;
  }
  
  .card-meaning {
    font-size: 50px;
    width: 75vw;
  }
}

@media only screen and (max-width: 1100px) {
  #question, #headline, form, .card-name, .greeting, #destiny, header, footer, nav {
    width: 100%;
  }
  nav {
    font-size: 75px;
    background-color: white;
    background-image: url(images/logo.png) center;
    background-size: 25vh;
    align-items: center;
    width: 100vw;
   
  }

  form {
    height: 100vh;
    border-style: none; 
  }
  .card-meaning {
    font-size: 40px;
    width: 75vw;
  } 

  #question {
    font-size: 40px;
  }

  #click {
    font-size: 50px;
  }
}




